.PlacePage {
  background: #000;
  padding-bottom: 120px;

  .placePageContent {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: #000;
  }

  .placePageComponents {
    padding-top: 200px;
  }

  .headerTopBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 14px;

    .leftOption {
      display: flex;
      align-items: center;

      .logoBox {
        background: #272945;
        width: 36px;
        height: 36px;
        border-radius: 16px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          width: 16px;
          height: 16px;
        }
      }

      .hintTxt {
        margin-left: 8px;

        .txtTop {
          font-weight: 600;
          font-size: 16px;
          color: #fff;
        }

        .txtEnd {
          margin-top: 2px;
          font-weight: 400;
          font-size: 12px;
          color: #AEAEAE;
        }
      }
    }

    .rightOption {
      display: flex;
      align-items: center;

      .rightBox {
        display: flex;
        align-items: center;
        border-radius: 36px;
        background: #23253F;
        margin-right: 14px;
        border: 1px solid #e5e5e5;
        padding: 5px 8px;

        .block {
          background: #4DEAF1;
          width: 6px;
          height: 6px;
          border-radius: 50%;
        }

        .blockTxt {
          margin-left: 4px;
          color: #fff;
          font-size: 12px;
          font-weight: 600;
        }
      }

      .headerTopRightOption {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        border: 1px solid #e5e5e5;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .redBlock {
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #D94231;
          top: 6px;
          right: 6px;
        }

        .icon {
          border-radius: 50%;
          width: 18px;
          height: 18px;
        }
      }

    }
  }

  .walletBox {
    margin: 12px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding: 12px;
    // background: #f5f5f5;
    background: linear-gradient(260.21deg, #19224C -11.45%, #212234 65.16%, #2E2E1C 123.25%);

    .leftOption {
      .walletTxt {
        color: #8D90B3;
      }

      .blanceOfOption {
        display: flex;
        // align-items: flex-end;
        margin-top: 4px;

        .spn {
          color: #fff;
          font-weight: 700;
          font-size: 24px;
        }

        .tokenName {
          margin-top: 14px;
          font-size: 12px;
          color: #8D90B3;
        }
      }
    }

    .rightWalletAddress {
      display: flex;
      align-items: center;

      .walletAddress {
        margin-left: 4px;
        font-size: 12px;
        color: #D3D3D3;
        font-weight: 400;
      }
    }
  }

  .tabs {
    margin: 0 12px;
    display: flex;
    gap: 2px;
    background: #222435;
    padding: 4px;
    border-radius: 22px;
  }

  /* 默认状态 */
  .tab {
    flex: 1;
    text-align: center;
    padding: 6px 0;
    font-size: 15px;
    font-weight: 500;
    color: #CACACA;
    // background: #363951;
    cursor: pointer;
    transition: all 0.25s ease;
  }

  /* 选中状态 */
  .tab.active {
    background: #363951;
    color: #fff;
    border-radius: 22px;
    /* 关键：浮起效果 */
    box-shadow:
      0 6px 12px rgba(0, 0, 0, 0.08),
      inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  }

  /* 点击反馈（可选） */
  .tab:active {
    transform: scale(0.17);
  }
}