.homePageBox {
  background: #000;
  padding: 24px 12px 80px 12px;

  .headerTopBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 22px;

    .headerTopLeftOption {
      .walletTxt {
        font-size: 24px;
        font-weight: bold;
        color: #fff;
      }

      .walletEn {
        margin-top: 4px;
        font-size: 12px;
        color: #AEAEAE;
      }
    }

    .headerTopRightOption {
      border-radius: 50%;
      width: 32px;
      height: 32px;
      border: 1px solid #e5e5e5;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .redBlock {
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #D94231;
        top:6px;
        right: 6px;
      }

      .icon {
        border-radius: 50%;
        width: 18px;
        height: 18px;
      }
    }
  }

  .loginWalletBox {
    margin-top: 60px;
    border-radius: 16px;
    padding: 24px 14px;
    background: linear-gradient(243.66deg, #37257B 1.55%, #1E2047 33.69%, #1E2047 53.85%, #203C80 90.99%);

    .loginHeaderTopBox {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .leftOption {
        display: flex;
        align-items: center;
        justify-content: center;

        .walletBox {
          border-radius: 50%;
          width: 34px;
          height: 34px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #636885;
          border: 1px solid #fff;

          .walletIcon {
            width: 14px;
            height: 14px;
          }

        }

        .spnTxt {
          margin-left: 12px;
          color: #bdbdbd;
          color: #8D90B3;
          font-size: 14px;
        }
      }

      .rightOption {
        border-radius: 14px;
        padding: 6px 12px;
        display: flex;
        align-items: center;
        background: rgb(58, 74, 122);

        .block {
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }

        .logoOutIcon {
          width: 10px;
          height: 12px;
        }

        .rightTxt {
          font-weight: bold;
          margin-left: 4px;
          font-size: 12px;
          color: rgba(255, 255, 255, 1);

        }
      }
    }

    .optionBox {
      display: flex;
      align-items: center;
      border-radius: 6px;
      justify-content: space-between;

      .left {
        color: #fff;
        font-size: 12px;

        .num {
          color: #fff;
          font-size: 24px;
          font-weight: bold;
        }

        .tokenName {
          margin-left: 12px;
          color: #8D90B3;
          font-size: 12px;
        }
      }

      .rightIocn {
        .icon {
          margin-top: 12px;
          width: 14px;
          height: 14px;
        }
      }
    }

    .title {
      margin-top: 12px;
      color: #8D90B3;
    }

    .optionBoxBg {
      margin-top: 14px;
      padding: 10px 8px;
      background: rgba(58, 74, 122, 1);
    }

    .hintTxt {
      margin-top: 6px;
      font-size: 12px;
      color: #8D90B3;
    }
  }

  .hintBox {
    margin-top: 12px;
    background: linear-gradient(261.82deg, #192041 3.88%, #1B1E47 96.12%);
    border-radius: 12px;
    padding: 24px 14px;

    .headerTopOption {
      display: flex;
      align-items: center;

      .txt {
        font-weight: 500;
        color: #F0FBFF;
        font-size: 17px;
      }
    }

    .hintTxts {
      margin-top: 6px;
      font-size: 12px;
      color: #bdbdbd;
    }

    .copyOption {
      margin-top: 8px;
      display: flex;
      align-items: center;
      border-radius: 6px;
      background: #2B2D4D;
      justify-content: space-between;
      padding: 10px 8px;

      .leftTxt {
        color: #fff;
      }

      .copyIcon {
        width: 14px;
        height: 14px;
      }
    }

    .safeOption {
      display: flex;
      align-items: center;
      margin-top: 12px;

      .safeIcon {
        width: 9px;
        height: 11px;
      }

      .spnTxt {
        margin-left: 4px;
        color: #A9A9A9;
      }
    }
  }

  .openBox {
    margin-top: 12px;
    background: #162627;
    border-radius: 6px;
    padding: 10px 14px;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;

    .leftOption {
      display: flex;
      align-items: center;

      .status-dot {
        position: relative;
        width: 14px;
        height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      /* 中心实心点 */
      .status-dot .dot {
        width: 8px;
        height: 8px;
        background: #10b981;
        /* 绿色 */
        border-radius: 50%;
        position: relative;
        z-index: 2;
      }

      /* 扩散波纹 */
      .status-dot::before,
      .status-dot::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: rgba(16, 185, 129, 0.25);
        animation: ripple 2s infinite;
      }

      /* 两层错开时间，更自然 */
      .status-dot::after {
        animation-delay: 1s;
      }

      @keyframes ripple {
        0% {
          transform: scale(0.6);
          opacity: 0.6;
        }

        70% {
          transform: scale(1.6);
          opacity: 0;
        }

        100% {
          opacity: 0;
        }
      }

      .txtBox {
        margin-left: 12px;
        background: #426b6f;
        color: #fff;
        font-size: 12px;
        padding: 4px 6px;
        border-radius: 6px;
      }
    }

    .rightOption {
      margin-top: 10px;
      color: rgba(169, 169, 169, 1);
    }
  }

  .btnBox {
    margin-top: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #4DEAF1;
    padding: 10px 0px;

    .spnTxt {
      color: #000;
      font-weight: 700;
      font-size: 14px;
    }
  }

  .hintEndBox {
    margin-top: 6px;
    border-radius: 8px;
    padding: 10px 14px;
    background: #201e15;

    .headerTopOption {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .leftOption {
        display: flex;
        align-items: center;

        .icon {
          width: 14px;
          height: 14px;
        }

        .hintTxt {
          margin-left: 8px;
          color: rgba(112, 86, 73, 1);
          font-size: 12px;
        }
      }

      .closeIcon {
        width: 18px;
        height: 18px;
      }
    }

    .endTxt {
      margin-top: 4px;
      font-size: 12px;
      color: rgba(124, 84, 63, 1);
      margin-left: 24px;
    }
  }
}